*{
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right, #9100a1, #1b09b8);
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
}
    
/* Track */
::-webkit-scrollbar-track {
    background: rgb(153, 43, 180); 
    border-radius: 20px;
}
     
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(173, 3, 173); 
    border-radius: 20px;
}
    
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: purple; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.appiconborder{
    margin: 50px 20px;
    width: 200px; 
    height: 200px; 
    background: white;
    border: 5px solid black; 
    border-radius: 50%; 
}

.appicon{
    width: 10rem;
    padding-top: 25px;
    padding-left:  20px;
    border: 30px;
}

.appname{
    color: white;
    font-size: 40px;
    margin-left: 7.50em;
    margin-top: -11rem;
}

.appinfos{
    color: white;
    font-size: 20px;
    margin: 0 250px;
    margin-left: 19rem;
    margin-top: -150px;
}

.downloadbtn{
    width: 15em;
    height: 2.2em;
    border: 0;
    border-radius: 30px;
    background: #9100a1;
    color: white;
    margin-top: 5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.downloadbtn:hover{
    background: #b304c7;
}

.backbutton{
    cursor: pointer;
    background: transparent;
    border-radius: 30px;
    border: 0;
}

.ani{
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
